/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*************
* Our Styles *
*************/

/* font import */
/* import the "Bebas Neue" font. */


h1, h2, h3, label, div {
	font-family: Helvetica, Arial, sans-serif;
}

/* general styles */
a {
	text-decoration: none;
}
/* background */
html {
	height: 100%;
	min-height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

/* content area */
#content {
	width: 960px;
	margin: 0 auto;
	-webkit-transition: width .5s;
}


/*ga header */
#ga-header {
	background-color: #000;
	padding: 15px;
	color: #fff;
	font-size: 30px;
	font-family: Helvetica, Arial, sans-serif;
}
#ga-header img {
	float: left;
	position: relative;
}

/* main content */
#content #main {
	padding: 20px;
	margin: 40px auto;
	border:	1px solid #777;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(50,50,50,.8);
	color: #fff;
	width: 70%;
	height: auto;
}
#content #main h1 {
	margin: 10px 0;
	font-size: 32px;
}

#content .section button {
	font-size: 18px;
	cursor: pointer;
	margin: 10px 10px 15px 0;
	display: block;
	float: left;
}
#content .directions {
	margin-bottom: 15px;
}
#content input {
	padding: 5px;
	font-size: 14px;
	width: 60%;
}

#tiles {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 55px;
	z-index: -1;
}
#tiles .tile {
	
}
#tiles .tile img {
	display: block;
	width: 150px;
	height: 150px;
}
/* clearfix class */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.last {
	margin-right: 0 !important;
}


/* media queries */

/* screen width less than 960px and more than 768px */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#content {
		width: 768px;
	}
}

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	#content {
		width: 300px;
	}
	#header ul li a {
		line-height: 50px;
	}

	#main h2, #main h3 {
		text-align: center;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#content {
		width: 420px;
	}
}
@media only screen and (max-width: 479px) {
	#content #main h2 {
		font-size: 28px;
	}
}
